body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f5f5f5;
}

header {
  background: #1c1c1c;
  color: white;
  text-align: center;
  padding: 40px;
}

button {
  padding: 10px 20px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}

section {
  padding: 30px;
}

#roomList {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.room {
  background: white;
  padding: 20px;
  width: 200px;
  border-radius: 8px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  width: 200px;
}
